<include file="Public:personalHeader" css="information"/>
		<div class="col-sm-9" style="background: #FFFFFF;height: 800px;">
			<h3 class="text-left">个人信息</h3>
			<hr />
			<div class="container row">
				<div class="col-sm-1">
					<a href="#" class="left-content col-sm-2">
						<img style="border-radius: 30px;height: 60px;width: 60px;margin: 5px;" src="__ROOT__/img/user.png">
					</a>
				</div>
				
				<div class="col-sm-11">
					<h4>{$message.name}</h4>
					<small>This line of text is meant to be treated as fine print.</small>
					<ul class="list-unstyled col-sm-12">
						<li>
							<div class="col-sm-2">
							  <h4>姓名:</h4>
							</div>
							<div class="col-sm-10">
							  <h4> {$message.name}</h4>
							</div>
						</li>
						<hr />
						<li>
							<div class="col-sm-2">
							  <h4>电子邮箱:</h4>
							</div>
							<div class="col-sm-10">
							  <h4>{$message.account}</h4>
							</div>
						</li>
						<hr />
						<li>
							<div class="col-sm-2">
							  <h4>注册时间:</h4>
							</div>
							<div class="col-sm-10">
							  <h4>xxx</h4>
							</div>
						</li>
						<hr />
						<li>
							<div class="col-sm-2">
							  <h4>身份:</h4>
							</div>
							<div class="col-sm-10">
							  <h4>{$message.lever}</h4>
							</div>
						</li>
						<hr />
					</ul>
				</div>

			</div>
		</div>
	</div>
</div>
		
<include file="Publuc:personalFooter"/>

















