<include file="Public:header" css="login"/>			
		<!--containner-->
		<div class="loginContainer">
			<div class="login">
				<span>Welcome</span>
				<form class="form-horizontal" method="post" action="__URL__/checklogin">
				  <div class="form-group">
				    <div class="col-sm-12">
				      <input type="email" class="form-control" id="" name="username" placeholder="Username">
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-12">
				      <input type="password" class="form-control" id="" name="password" placeholder="Password">
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-8">
				      <div class="checkbox">
				        <label>
				          <input type="checkbox"> Remember me
				        </label>
				      </div>
				    </div>
				     <div class="col-sm-4">
				      <div class="checkbox">
				        <label>
				          <a href="#">忘记密码？</a>
				        </label>
				      </div>
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-12">
				      <button type="submit" class="btn btn-default">Sign in</button>
				    </div>
				  </div>
				</form>				
			</div>
		</div>
	</body>
</html>
