<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>文件管理</title>
		<link href="__ROOT__/Public/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="__ROOT__/Public/bootstrap-3.3.7-dist/css/my.css" rel="stylesheet">
		<!--引入jqury-->
	    <script type="text/javascript" src="__ROOT__/js/jquery-3.2.1.min.js" ></script>
	    <script type="text/javascript" src="__ROOT__/Public/bootstrap-3.3.7-dist/js/bootstrap.js" ></script>
	 	<link rel="stylesheet" href="__ROOT__/css/basic.css" />
	 	<link rel="stylesheet" href="__ROOT__/css/setUp.css" />
	</head>
	
	<!--界面这样设计非常不合理  目前先这样设计界面框架 先容我想想-->
	
	<body>
		<div class="table-responsive">
			<table class="table table-hover">
			  <tr>
			    <th>类型</th>
			    <th>文件名</th>
			    <th>主题介绍</th> 	
			    <th>上传时间</th>
			    <th>操作</th>
			  </tr>
			  <tr>
			    <td>高数</td>
			    <td>啦啦</td>
			    <td>1874163662@qq.com</td>
			    <td>2015-5-2</td>
			    <td>
			    	<a class="delete" style="cursor: pointer;">删除</a>
			    	<a class="details" href="#">详情</a>
			    </td>
			  </tr>
			  
			  <tr>
			    <td>高数</td>
			    <td>啦啦</td>
			    <td>1874163662@qq.com</td>
			    <td>2015-5-2</td>
			    <td>
			    	<a class="delete" style="cursor: pointer;">删除</a>
			    	<a href="#">详情</a>
			    </td>
			  </tr>
			  
			  <tr>
			    <td>高数</td>
			    <td>啦啦</td>
			    <td>1874163662@qq.com</td>
			    <td>2015-5-2</td>
			    <td>
			    	<a class="delete" style="cursor: pointer;">删除</a>
			    	<a href="#">详情</a>
			    </td>
			  </tr>
			  
			  <tr>
			    <td>高数</td>
			    <td>啦啦</td>
			    <td>1874163662@qq.com</td>
			    <td>2015-5-2</td>
			    <td>
			    	<a class="delete" style="cursor: pointer;">删除</a>
			    	<a href="#">详情</a>
			    </td>
			  </tr>
			  
			</table> 
			<!--模态框界面为modelDelete和modelDetails-->
		</div>
		<nav aria-label="...">
		  <ul class="pager">
		    <li><a href="#">上一页</a></li>
		    <li><a href="#">下一页</a></li>
		  </ul>
		</nav>
	</body>
	 <script type="text/javascript" src="__ROOT__/js/modelManage.js" ></script>
	 <!--引入模态框显示与关闭事件-->
</html>
