<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="__ROOT__/Public/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
	 	<link href="__ROOT__/Public/bootstrap-3.3.7-dist/css/my.css" rel="stylesheet">
	 	
	 	<!--引入jqury-->
	    <script type="text/javascript" src="__ROOT__/js/jquery-3.2.1.min.js" ></script>
	    <script type="text/javascript" src="__ROOT__/Public/bootstrap-3.3.7-dist/js/bootstrap.js" ></script>
	 	<link rel="stylesheet" href="__ROOT__/css/basic.css" />
	 	<link rel="stylesheet" href="__ROOT__/css/setUp.css" />
	</head>
	<body>
		<!--
		响应式表格
		将任何 .table 元素包裹在 .table-responsive 元素内，即可创建响应式表格，其会在小屏幕设备上（小于768px）水平滚动。
		当屏幕大于 768px 宽度时，水平滚动条消失。-->	
		<div class="table-responsive">
			<table class="table table-hover">
			  <tr>
			    <th>ID</th>
			    <th>会员名</th>
			    <th>邮箱</th> 	
			    <th>注册时间</th>
			    <th>操作</th>
			  </tr>
			  <tr>
			    <td>1</td>
			    <td>啦啦</td>
			    <td>1874163662@qq.com</td>
			    <td>2015-5-2</td>
			    <td>
			    	<a class="delete" style="cursor: pointer;">删除</a>
			    	<a class="modify" href="#">修改</a>
			    </td>
			  </tr>
			  
			  <tr>
			    <td>1</td>
			    <td>啦啦</td>
			    <td>1874163662@qq.com</td>
			    <td>2015-5-2</td>
			    <td>
			    	<a class="delete" style="cursor: pointer;">删除</a>
			    	<a class="modify" href="#">修改</a>
			    </td>
			  </tr>
			  
			  <tr>
			    <td>1</td>
			    <td>啦啦</td>
			    <td>1874163662@qq.com</td>
			    <td>2015-5-2</td>
			    <td>
			    	<a class="delete" style="cursor: pointer;">删除</a>
			    	<a class="modify" href="#">修改</a>
			    </td>
			  </tr>
			  
			  <tr>
			    <td>1</td>
			    <td>啦啦</td>
			    <td>1874163662@qq.com</td>
			    <td>2015-5-2</td>
			    <td>
			    	<a class="delete" style="cursor: pointer;">删除</a>
			    	<a class="modify" href="#">修改</a>
			    </td>
			  </tr>
		
			  
			</table> 
		</div>
		<nav aria-label="...">
		  <ul class="pager">
		    <li><a href="#">上一页</a></li>
		    <li><a href="#">下一页</a></li>
		  </ul>
		</nav>
	</body>
	<script type="text/javascript" src="__ROOT__/js/modelManage.js" ></script>
</html>
