<include file="Public:header"/>
            <!-- Main Content -->
            <div id="model3" class="container-fluid">
	                <div class="side-body">
	                    <div class="row">
	                        <div class="col-xs-12">
	                            <div class="card">
	                                <div class="card-header">
	                                    <div class="card-title">
	                                    <div class="title">资料修改</div>
	                                    </div>
	                                </div>
	                                <div class="card-body">
	                                    <table class="datatable table table-striped" cellspacing="0" width="100%">
	                                        <thead>
	                                            <tr>
	                                                <th>ID</th>
												    <th>用户名</th>
												    <th>邮箱</th> 	
												    <th>注册时间</th>
												    <th>操作</th>
	                                            </tr>
	                                        </thead>
	                                        <tfoot>
	                                            <tr>
	                                                <th>ID</th>
												    <th>用户名</th>
												    <th>邮箱</th> 	
												    <th>注册时间</th>
												    <th>操作</th>
	                                            </tr>
	                                        </tfoot>
	                                        <tbody>
	                                        	<!--获取数据库传来的数据-->
	                                            <tr>
	                                                <td>admin</td>
	                                                <td>System Architect</td>
	                                                <td>Edinburgh</td>
	                                                <td>2011/04/25</td>
	                                                <td>
												    	<a class="modify" href="#">修改</a>
												    </td>
	                                            </tr>
	                                            <tr>
	                                                <td>admin</td>
	                                                <td>System Architect</td>
	                                                <td>Edinburgh</td>
	                                                <td>2011/04/25</td>
	                                                <td>
												    	<a class="modify" href="#">修改</a>
												    </td>
	                                            </tr>
	                                            <tr>
	                                                <td>admin</td>
	                                                <td>System Architect</td>
	                                                <td>Edinburgh</td>
	                                                <td>2011/04/25</td>
	                                                <td>
												    	<a class="modify" href="#">修改</a>
												    </td>
	                                            </tr>
	                                            <tr>
	                                                <td>admin</td>
	                                                <td>System Architect</td>
	                                                <td>Edinburgh</td>
	                                                <td>2011/04/25</td>
	                                                <td>
												    	<a class="modify" href="#">修改</a>
												    </td>
	                                            </tr>
	                                            <tr>
	                                                <td>admin</td>
	                                                <td>System Architect</td>
	                                                <td>Edinburgh</td>
	                                                <td>2011/04/25</td>
	                                                <td>
												    	<a class="modify" href="#">修改</a>
												    </td>
	                                            </tr>
	                                            <tr>
	                                                <td>admin</td>
	                                                <td>System Architect</td>
	                                                <td>Edinburgh</td>
	                                                <td>2011/04/25</td>
	                                                <td>
												    	<a class="modify" href="#">修改</a>
												    </td>
	                                            </tr>
	                                            <tr>
	                                                <td>admin</td>
	                                                <td>System Architect</td>
	                                                <td>Edinburgh</td>
	                                                <td>2011/04/25</td>
	                                                <td>
												    	<a class="modify" href="#">修改</a>
												    </td>
	                                            </tr>
	                                            <tr>
	                                                <td>admin</td>
	                                                <td>System Architect</td>
	                                                <td>Edinburgh</td>
	                                                <td>2011/04/25</td>
	                                                <td>
												    	<a class="modify" href="#">修改</a>
												    </td>
	                                            </tr>
	                                            <tr>
	                                                <td>admin</td>
	                                                <td>System Architect</td>
	                                                <td>Edinburgh</td>
	                                                <td>2011/04/25</td>
	                                                <td>
												    	<a class="modify" href="#">修改</a>
												    </td>
	                                            </tr>
	                                            <tr>
	                                                <td>admin</td>
	                                                <td>System Architect</td>
	                                                <td>Edinburgh</td>
	                                                <td>2011/04/25</td>
	                                                <td>
												    	<a class="modify" href="#">修改</a>
												    </td>
	                                            </tr>
	                                            <tr>
	                                                <td>admin</td>
	                                                <td>System Architect</td>
	                                                <td>Edinburgh</td>
	                                                <td>2011/04/25</td>
	                                                <td>
												    	<a class="modify" href="#">修改</a>
												    </td>
	                                            </tr>
	                                            <tr>
	                                                <td>admin</td>
	                                                <td>System Architect</td>
	                                                <td>Edinburgh</td>
	                                                <td>2011/04/25</td>
	                                                <td>
												    	<a class="modify" href="#">修改</a>
												    </td>
	                                            </tr>
	                                            <tr>
	                                                <td>admin</td>
	                                                <td>System Architect</td>
	                                                <td>Edinburgh</td>
	                                                <td>2011/04/25</td>
	                                                <td>
												    	<a class="modify" href="#">修改</a>
												    </td>
	                                            </tr>
	                                            <tr>
	                                                <td>admin</td>
	                                                <td>System Architect</td>
	                                                <td>Edinburgh</td>
	                                                <td>2011/04/25</td>
	                                                <td>
												    	<a class="modify" href="#">修改</a>
												    </td>
	                                            </tr>
	                                            <tr>
	                                                <td>admin</td>
	                                                <td>System Architect</td>
	                                                <td>Edinburgh</td>
	                                                <td>2011/04/25</td>
	                                                <td>
												    	<a class="modify" href="#">修改</a>
												    </td>
	                                            </tr>
	                                            <tr>
	                                                <td>admin</td>
	                                                <td>System Architect</td>
	                                                <td>Edinburgh</td>
	                                                <td>2011/04/25</td>
	                                                <td>
												    	<a class="modify" href="#">修改</a>
												    </td>
	                                            </tr>
	                                            <tr>
	                                                <td>admin</td>
	                                                <td>System Architect</td>
	                                                <td>Edinburgh</td>
	                                                <td>2011/04/25</td>
	                                                <td>
												    	<a class="modify" href="#">修改</a>
												    </td>
	                                            </tr>
	                                            <tr>
	                                                <td>admin</td>
	                                                <td>System Architect</td>
	                                                <td>Edinburgh</td>
	                                                <td>2011/04/25</td>
	                                                <td>
												    	<a class="modify" href="#">修改</a>
												    </td>
	                                            </tr>
	                                            <tr>
	                                                <td>admin</td>
	                                                <td>System Architect</td>
	                                                <td>Edinburgh</td>
	                                                <td>2011/04/25</td>
	                                                <td>
												    	<a class="modify" href="#">修改</a>
												    </td>
	                                            </tr>
	                                            <tr>
	                                                <td>admin</td>
	                                                <td>System Architect</td>
	                                                <td>Edinburgh</td>
	                                                <td>2011/04/25</td>
	                                                <td>
												    	<a class="modify" href="#">修改</a>
												    </td>
	                                            </tr>
	                                            <tr>
	                                                <td>admin</td>
	                                                <td>System Architect</td>
	                                                <td>Edinburgh</td>
	                                                <td>2011/04/25</td>
	                                                <td>
												    	<a class="modify" href="#">修改</a>
												    </td>
	                                            </tr>
	                                            <tr>
	                                                <td>admin</td>
	                                                <td>System Architect</td>
	                                                <td>Edinburgh</td>
	                                                <td>2011/04/25</td>
	                                                <td>
												    	<a class="modify" href="#">修改</a>
												    </td>
	                                            </tr>
	                                            <tr>
	                                                <td>admin</td>
	                                                <td>System Architect</td>
	                                                <td>Edinburgh</td>
	                                                <td>2011/04/25</td>
	                                                <td>
												    	<a class="modify" href="#">修改</a>
												    </td>
	                                            </tr>
	                                            <tr>
	                                                <td>admin</td>
	                                                <td>System Architect</td>
	                                                <td>Edinburgh</td>
	                                                <td>2011/04/25</td>
	                                                <td>
												    	<a class="modify" href="#">修改</a>
												    </td>
	                                            </tr>
	                                        </tbody>
	                                    </table>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
            </div>
<include file="Public:footer"/>
