<li class="panel panel-default dropdown">
	<a data-toggle="collapse" href="#dropdown-form">
		<span class="icon fa fa-file-text-o"></span><span class="title">管理管理</span>
	</a>
	<!-- Dropdown level 1 -->
	<div id="dropdown-form" class="panel-collapse collapse">
		<div class="panel-body">
			<ul class="nav navbar-nav">
				<li><a href="{:U('Admin/Admin/adminList')}">　　 会员列表</a></li>
				<li><a href="{:U('Admin/Admin/adminModify')}">　　 资料修改</a></li>
				<li><a href="{:U('Admin/Admin/addAdmin')}">　　 添加会员</a></li>
				<li><a href="{:U('Admin/Admin/deleteAdmin')}">　　 删除会员</a></li>
			</ul>
		</div>
	</div>
</li>