	</div>
        <!-- Javascript Libs -->
        <script type="text/javascript" src="__ROOT__/Public/lib/js/jquery.min.js"></script>
        <script type="text/javascript" src="__ROOT__/Public/lib/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="__ROOT__/Public/lib/js/bootstrap-switch.min.js"></script>
        <script type="text/javascript" src="__ROOT__/Public/lib/js/jquery.matchHeight-min.js"></script>
        <script type="text/javascript" src="__ROOT__/Public/lib/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="__ROOT__/Public/lib/js/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript" src="__ROOT__/Public/lib/js/select2.full.min.js"></script>
        <!-- Javascript -->
        <script type="text/javascript" src="__ROOT__/js/adminJs/app.js"></script>
</body>
<script type="text/javascript" src="__ROOT__/js/adminJs/adminLever.js"></script>
<script type="text/javascript" src="__ROOT__/js/adminJs/my.js" ></script>
</html>
