.loginContainer{
	width: 100%;
	background: url(../../img/login.jpg) repeat fixed center; ;
	height: 800px;
	position: absolute;
	margin-top: 50px;
}

.login{
	background: #FFFFFF; 
	width: 500px; 
	height: 350px;
	margin: 0 auto;
	padding: 50px auto;
	margin-top: 10%;
	padding: 70px;
	opacity: 0.8;
}

.login span{
	display: block;
	padding-bottom: 10px;
	text-align: center;
	font-size: 25px;
	color: #007AFF;
}


